<!--put basic html skeleton here-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Rules of Engagement</title>


        <script src=""></script>
    </head>

    <body>
        {{body}}
    </body>
</html>