 .rule-block {
     background-color: gray; /*want to change this a more appealing color/image*/
     border-radius: 10px;
     padding: 10px;
     max-width: 800px;
     margin-bottom: 10px;
 }

 main {
     background-color: white;
 }

h4 {
    font-style: italic;
    font-family: 'Copperplate Gothic', sans-serif;
}

 p {
     font-family: serif;
 }

 li {
     font-family: serif;
 }