<!--rules are displayed here-->
    <main>
        <link rel="stylesheet" type="text/css" href="rulesStyle.css" />
        <div class="rule-block">

            <h4>Rules:</h4>
            <ol id="rules">
                <li class="rule-item">Player starts with 2 tanks, 3 jeeps, 4 soldiers in their beginning 3x3 squares in opposite corners.</li>
                <li class="rule-item">Player can move or attack each unit per turn (see unit movement section).</li>
                <li class="rule-item">Player can capture factories (see capturing factories section), takes 2 turns to capture and gives 5 resources per factory per turn (see resource section).</li>
            </ol>
        </div>

        <div class="rule-block">
            <h4>Objective:</h4>
            <p>Once a player has defeated all other players' forces or captured all the factories victory is achieved.</p>
        </div>

        <div class="rule-block">
            <h4>Capturing Factories:</h4>
            <p>To capture a factory a jeep or soldier must be on the factory square and wait 2 additional turns. After capturing the factory mark it with an 'X' piece to designate captured factory.</p>
        </div>

        <div class="rule-block">
            <h4>Contesting Factories:</h4>
            <p>To take an enemy factory the player must move a soldier or a jeep onto the factory and wait an additional 2 turns. Replace their 'X' with the capturing players colored 'X'.</p>
        </div>

        <div class="rule-block">
            <h4>Resources:</h4>
            <p>Resources can be obtained by capturing factories and holding them (5 resources per turn per factory at the start of your turn excluding turn captured). These resources can be used to buy units. Purchased units begin in the player's 3x3 starting square.</p>
        </div>

        <div class="rule-block">
            <h4>Unit Cost:</h4>
            <ol id="unit-cost-list">
                <li class="cost-item">Soldier-<bold>5 resources</bold></li>
                <li class="cost-item">Jeep-<bold>15 resources</bold></li>
                <li class="cost-item">Tank-<bold>20 resources</bold></li>
                <li class="cost-item">Artillery-<bold>30 resources</bold></li>
            </ol>
        </div>

        <div class="rule-block">
            <h4>Unit Movement:</h4>
            <p>This is how far a unit can travel in one direction (left, right, up, down, not diagonally). No two units can occupy the same space.</p>
            <ol id="unit-move-list">
                <li class="move-item">Soldier-<bold>3 spaces</bold></li>
                <li class="move-item">Jeep-<bold>7 spaces</bold></li>
                <li class="move-item">Tank-<bold>5 spaces</bold></li>
                <li class="move-item">Artillery-<bold>4 spaces</bold></li>
            </ol>
        </div>

        <div class="rule-block">
            <h4>Attack Ranges:</h4>
            <p>All units attack in a square around them (ex. 1 square range equal a 3x3 square, 2 square equals a 5x5 square etc. with the unit in the middle).</p>
            <p>Ranges/Amount of Dice</p>
            <ol id="unit-attack-list">
                <li class="attack-item">Soldier-<bold>1 square/1 die</bold></li>
                <li class="attack-item">Jeep-<bold>1 square/2 dice</bold></li>
                <li class="attack-item">Tank-<bold>2 squares/2 dice</bold></li>
                <li class="attack-item">Artillery-<bold>3 squares/3 dice</bold></li>
            </ol>
        </div>

        <div class="rule-block">
            <h4>Attacking:</h4>
            <p>When a unit is in range of attacking an enemy unit they can choose to attack instead of move. Each unit is assigned a number of 6-sided dice (see unit attack ranges). To attack, the players roll the number of dice assigned to their unit and whoever has the highest sum of all the dice is the winner (if an artillery attacks a soldier and the artillery rolls 3, 5 & 2 and the soldier rolls a 6 the artillery wins the fight with a 10). If a unit that gets attacked is out of attack range from the attacker and wins then no unit is destroyed. In the event of a tie neither unit is destroyed.</p>
        </div>

        <div class="rule-block">
            <h4>River Crossings:</h4>
            <p>In the case of a unit being next to a river and it needs to cross the river it must be next to the river space and take 1 turn to cross the space. If there are 2 river spaces needed to cross then take 2 turns to cross it. A river square is considered any square that has any amount of water in it. You cannot cross a lake or ocean.</p>
        </div>

        <div class="rule-block">
            <h4>Defensive Positions</h4>
            <p>Mountains, forests and destroyed cities are all considered defensive positions. If a unit is on a defensive position they get one extra die when attacking or defending while on the position. If an enemy and friendly unit attack each other from a defensive position the bonus is lost for both units.</p>
        </div>

        <div class="rule-block">
            <h4>Weak Positions</h4>
            <p>Any units in a desert, swamp or next to a river/lake/ocean get 1 less die when attacking or defending (soldiers still maintain 1 die). If 2 units are attacking each other from weak positions no negative effects effect either unit. If a defensive position and a weak position are next to each other no bonus is given (a forest next to a river).</p>
        </div>

    </main>