<!--Intro page to the site-->
<main>
    <div id="introduction">
        <h2>Welcome to Rules of Engagement!</h2>
        <p>Click play to begin a game</p>

        <div id="intro-list">
            <ul>
                <li class="intro-item"><a href="/game">Play</a></li>
                <li class="intro-item"><a href="/rules">Rules</a></li>
                <li class="intro-item"><a href="/settings">Settings</a></li>
            </ul>
        </div>
    </div>

</main>
